html { 
    background: url("images/Starry\ Nebula\ 181.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body{
    margin: 0px;
    
    font-family: Arial, Helvetica, sans-serif;

}

.navbar{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(13, 48, 88);
    color: rgba(255, 255, 0, 0.658);
    height: 40px;
    opacity: .7;
   
}

.navbar a{
    margin:10px;
}

h1{
    text-align: center;
    color: white;
}


 
.image {
    background-image: url("images/fitz.jpg");
    height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    margin-left: 60px;
    margin-top: 100px;
   
  }
  

.caption{
    background:gray;
    width: 200px;
    position: relative;
    opacity: 0.6;
    display: block;
    left: 380px;
    top: 10px
    

}

