
body{
    background-color: rgb(51, 50, 66);
    text-align: center;
    margin: 60px;
    

}
.fixed{
    color: rgb(209, 208, 208);
    float: left;
    position: fixed;
}
#fixedBox{
    width: 70px; 
    height: 70px; 
    background-color:rgb(145, 142, 142)
}
h1{
    margin:auto;
    text-align: center;
    margin: 50px;
    color: rgb(209, 208, 208)
}
#firstBox{
    margin:auto;
    width: 600px;
    height: 400px; 
    border: 10px solid rgb(145, 142, 142);

}
#secondBox{
    border: 10px solid rgba(196, 13, 13, 0.808);
    height: 400px;
    width: 600px;
    
}

#thirdBox{
    border: 10px solid rgba(196, 147, 13, 0.808);
    height: 400px;
    width: 600px;
    display: inline-block;
    

}
#fourthBox{
    border: 10px solid rgba(13, 114, 196, 0.808);
    height: 400px;
    width: 600px;
    display: inline-block;
    background-image: url(images/krautrock.png);
    background-size: cover;
    

}
.container {
    width: 600px;
    height: 400px; 
    border: 10px solid rgb(173, 170, 170);
    margin-top: 100px; 
    margin: auto;
   

}
#container{
    border-color:rgba(224, 211, 21, 0.705);
    
}
#leftBox{
    border: 10px solid rgb(144, 13, 196);
    height: 380px;
    width: 280px;
    display: inline-block; 
    

    background-image: url(images/can2.jpg); 
    background-position: center;
    background-size: 150%

    
    
    
    
}
#rightBox{
    border: 10px solid rgb(13, 175, 196);
    height: 380px;
    width: 280px;
    float: right; 
    background-image: url(images/can.jpeg);
    background-position: center;
    
    
    
    
}
.zboxes{
    margin-top: 70px;
    margin:0 auto;
    margin-bottom: 100px;
}
#topbox{
    width: 600px;
    height: 400px; 
    background-color:rgb(86, 108, 204);
    margin: 0 auto;
    position: absolute;
    left: 50%;
   
    transform: translateX(-50%);
    z-index: 2;

}

#bottombox{
    width: 600px;
    height: 400px; 
    background-color:rgba(35, 13, 160, 0.726);
    margin: 0 auto;
    
   
    z-index:1;
   position: relative;
    top: 20px; 
    left: 20px;
}
.zboxes2{
    margin-top: 70px;
    margin:0 auto;
    margin-bottom: 100px;
    display: inline-block;
}

#sidebox{
    width: 300px; 
    height: 100px; 
    background-color:rgba(196, 147, 13, 0.808); 
    margin: 0px 10px;

}